table.style1 {background-color:gray;}
table.style2 {background-color:lightblue;}
table.style3 {background-color:lightgreen;}
form {margin: 0; padding:0;}
table {border:0px;border-spacing: 0;border-collapse: collapse;}
table.help {background-color:darksalmon; border:3px solid;}

td.lable1 {background-color:pink;}
td.lable2 {background-color:lightgray;}

td.button1 {background-color:lightgray;}
td.button2 {background-color:lightblue;}
td.button3 {background-color:lightgreen;}

th.head {background-color:lightpink; font-size:1.2em;}
th.subhead {background-color:lightgray; font-size:1.2em;}
span.tree {background-color:lightgray;font-size:1.0em;font-weight:bold;color:blue;border: 0px solid red;}

.logingrid
	{
		display:grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		background-color:lightgray;
		margin:auto;
	}

.submit_button
{
	background-color:blue;
	color:white;
	border:0;
	margin:5px; 
	padding:0;
	font-size:2em;
	border-radius: 10px;
	box-shadow: 3px 3px 2px 2px black;
}

.submit_button:hover
{
	background-color:#00009A;
}

.submit_button:focus
{
	box-shadow:2px 2px black;
}

#doctor_container
{
		display:grid;
		grid-template-rows: auto;
		grid-template-columns: auto;
		grid-column-gap:5px;
		grid-row-gap:5px;
		background-color:lightgray;
}

#doctor_menu
{		
		display:grid;
		grid-template-rows: auto;
		grid-template-columns: auto;
		grid-column-gap:5px;
		grid-row-gap:5px;
		background-color:lightgray;
}

.dmi
{
	background-color:black;
	color:white;
	text-align:center;
	border-radius: 7px;
	font-size:1.5em;
}


#doc_search_form
{
		display:grid;
		grid-row-gap:5px;
		grid-template-columns: min-content min-content 50vw;
		align-items: center;
		background-color:lightgray;
}


#submit
{
	grid-area: 1 / 1 / 2 /4;
	background-color:blue;
	color:white;
	border:0;
	margin:5px; 
	padding:0;
	font-size:2em;
	border-radius: 10px;
	box-shadow: 5px 5px black;
}

#submit:hover
{
background-color:lightblue;

}
.chk
{
	grid-column: 1 / 2;
	width:2em;
	height:2em;
	background-color:blue;
	border-color:green;
}


.fld , .lbl
{
	font-size: 2em;
}

@media only screen and (max-device-width: 600px)
{
	*
	{
	font-size: 3vw;
	}
}

/*@media only screen and (min-device-width: 600px)
{
	*
	{
		width:50vw;
		margin:auto;
	}
}*/
.message
{
	background-color:green;
	color:white;
	text-align:center;
	border-radius: 7px;
	font-size:1.5em;
}

.warning
{
	background-color:red;
	color:white;
	border-radius: 7px;
	font-size:1.5em;
	margin: auto;
}

#print_confirm_form
{
		display:grid;
		grid-template-rows: auto;
		grid-template-columns: auto auto;
		grid-column-gap:5px;
		grid-row-gap:15px;
		background-color:lightgray;
		padding:10px;
}

